.main {
    display: grid;
    width: 100dvw;
    overflow-y: auto;
}

.post {
    display: grid;
    place-items: center;
    gap: 50px;
    padding: 10px;
}

.nav {
    display: grid;
    align-items: end;
}