.post-bg {
    background-color: #212529;
    padding: 20px;
    width: 90dvw;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-info {
    background-color: #343A40;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
}

.user-info img {
    border-radius: 50%;
}

.post-text {
    background-color: #495057;
    padding: 10px;
    border-radius: 5px;
    height: 120px;
    font-size: 14px;
    overflow-y: auto;
}

.post-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.post-actions button {
    padding: 5px;
    cursor: pointer;
    background: none;
    border: none;
}

.post-actions #like {
    display: flex;
    align-items: center;
    gap: 10px;
}